name: Build
on:
  schedule:
    # Runs at 00:00 (midnight) on the first day of every month
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  build_docker_debian:
    name: Docker (Debian)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get version info
        id: version_info
        run: echo ::set-output name=current::$(date +%Y%m%d)
      - name: Get published version info
        id: version_info_published
        run: |
          TAG="${{ steps.version_info.outputs.current }}"
          if git show-ref --tags --verify --quiet "refs/tags/${TAG}"; then
            echo "Version ${TAG} exists"

            echo ::set-output name=new::false
          else
            echo "Version ${TAG} does not exist"

            echo ::set-output name=new::true
          fi
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        name: docker login (ghcr.io)
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/login-action@v3
        name: docker login (docker.io)
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: docker build
        run: |
          cd Dockerfiles/debian && docker build . -t domkalan/vscode-tunnel:latest -t domkalan/vscode-tunnel:debian -t domkalan/vscode-tunnel:debian-${{ steps.version_info.outputs.current }} -t ghcr.io/domkalan/vscode-tunnel:latest -t ghcr.io/domkalan/vscode-tunnel:debian -t ghcr.io/domkalan/vscode-tunnel:debian-${{ steps.version_info.outputs.current }}
      - name: docker push
        if: steps.version_info_published.outputs.new == 'true'
        run: |
          docker push domkalan/vscode-tunnel:latest

          docker push domkalan/vscode-tunnel:debian
          docker push domkalan/vscode-tunnel:debian-${{ steps.version_info.outputs.current }}

          docker push ghcr.io/domkalan/vscode-tunnel:debian
          docker push ghcr.io/domkalan/vscode-tunnel:debian-${{ steps.version_info.outputs.current }}

  build_docker_fedora:
    name: Docker (Fedora)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get version info
        id: version_info
        run: echo ::set-output name=current::$(date +%Y%m%d)
      - name: Get published version info
        id: version_info_published
        run: |
          TAG="${{ steps.version_info.outputs.current }}"
          if git show-ref --tags --verify --quiet "refs/tags/${TAG}"; then
            echo "Version ${TAG} exists"

            echo ::set-output name=new::false
          else
            echo "Version ${TAG} does not exist"

            echo ::set-output name=new::true
          fi
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        name: docker login (ghcr.io)
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/login-action@v3
        name: docker login (docker.io)
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: docker build
        run: |
          cd Dockerfiles/fedora && docker build . -t domkalan/vscode-tunnel:fedora -t domkalan/vscode-tunnel:fedora-${{ steps.version_info.outputs.current }} -t ghcr.io/domkalan/vscode-tunnel:fedora -t ghcr.io/domkalan/vscode-tunnel:fedora-${{ steps.version_info.outputs.current }}
      - name: docker push
        if: steps.version_info_published.outputs.new == 'true'
        run: |
          docker push domkalan/vscode-tunnel:fedora
          docker push domkalan/vscode-tunnel:fedora-${{ steps.version_info.outputs.current }}

          docker push ghcr.io/domkalan/vscode-tunnel:fedora
          docker push ghcr.io/domkalan/vscode-tunnel:fedora-${{ steps.version_info.outputs.current }}

  build_docker_alpine:
    name: Docker (Alpine)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get version info
        id: version_info
        run: echo ::set-output name=current::$(date +%Y%m%d)
      - name: Get published version info
        id: version_info_published
        run: |
          TAG="${{ steps.version_info.outputs.current }}"
          if git show-ref --tags --verify --quiet "refs/tags/${TAG}"; then
            echo "Version ${TAG} exists"

            echo ::set-output name=new::false
          else
            echo "Version ${TAG} does not exist"

            echo ::set-output name=new::true
          fi
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        name: docker login (ghcr.io)
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/login-action@v3
        name: docker login (docker.io)
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: docker build
        run: |
          cd Dockerfiles/alpine && docker build . -t domkalan/vscode-tunnel:alpine -t domkalan/vscode-tunnel:alpine-${{ steps.version_info.outputs.current }} -t ghcr.io/domkalan/vscode-tunnel:alpine -t ghcr.io/domkalan/vscode-tunnel:alpine-${{ steps.version_info.outputs.current }}
      - name: docker push
        if: steps.version_info_published.outputs.new == 'true'
        run: |
          docker push domkalan/vscode-tunnel:alpine
          docker push domkalan/vscode-tunnel:alpine-${{ steps.version_info.outputs.current }}

          docker push ghcr.io/domkalan/vscode-tunnel:alpine
          docker push ghcr.io/domkalan/vscode-tunnel:alpine-${{ steps.version_info.outputs.current }}

  build_ghrelease:
    needs: [build_docker_debian, build_docker_fedora, build_docker_alpine]
    name: Github Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get version info
        id: version_info
        run: echo ::set-output name=current::$(date +%Y%m%d)
      - name: Get published version info
        id: version_info_published
        run: |
          TAG="${{ steps.version_info.outputs.current }}"
          if git show-ref --tags --verify --quiet "refs/tags/${TAG}"; then
            echo "Version ${TAG} exists"

            echo ::set-output name=new::false
          else
            echo "Version ${TAG} does not exist"

            echo ::set-output name=new::true
          fi
      - name: Create Release
        if: steps.version_info_published.outputs.new == 'true'
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ steps.version_info.outputs.current }}
          release_name: v${{ steps.version_info.outputs.current }}
          body: |
            Published by GitHub Actions
          draft: false
          prerelease: false